

.containerTeacher{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.containerBg{

}


#contTeach {
    width: 620px;
    padding: 0 0 50px;
    margin: 0 auto;
    }
    
    .speech-bubble {
        z-index: -1;
    position: relative;
    padding: 20px 0px;
    margin: 1em auto 80px;
      background: -webkit-linear-gradient(left, #84c8c0, #6490c2); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right,  #84c8c0, #6490c2); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right,  #84c8c0, #6490c2); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right,  #84c8c0, #6490c2); /* Standard syntax */
    text-align: center;
    color: #fff;
    -webkit-border-top-left-radius: 140px 140px;
    -webkit-border-top-right-radius: 140px 140px;
    -webkit-border-bottom-right-radius: 140px 140px;
    -webkit-border-bottom-left-radius: 140px 140px;
    -moz-border-radius: 140px / 140px;
    border-radius: 140px / 140px;
    }
    
    .speech-bubble:before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: -27px;
    right: 100px;
    width: 33px;
    height: 33px;
    background: -webkit-linear-gradient(left, #84c8c0, #6490c2); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right,  #84c8c0, #6490c2); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right,  #84c8c0, #6490c2); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right,  #84c8c0, #6490c2); /* Standard syntax */
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    display: block;
    }
    
    .speech-bubble:after {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: -39px;
    right: 83px;
    width: 18px;
    height: 18px;
    background: -webkit-linear-gradient(left, #84c8c0, #6490c2); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right,  #84c8c0, #6490c2); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right,  #84c8c0, #6490c2); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right,  #84c8c0, #6490c2); /* Standard syntax */
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: block;
    }
    
    .box {
        overflow: hidden;
    }
    
    .marquee-one {
      animation: marquee-one 10 s linear infinite; 
      -webkit-animation: marquee-one 5s linear(-0.47 -41.18%, -0.26 -1.47%) 1;
      margin: 0;
      padding: 0;
      display: inline-block;
      white-space: nowrap;
      font-size: 23px;
    }
    
    @keyframes marquee-one {
        0%   { text-indent: 18em }
        100% { text-indent: -50em }
    }






    .containerAll .logoimg{
        position: relative;
      }
      .containerAll .logoimg img{
        position: absolute;
        width: 163px;
        left: 10px;
        top: 21px;
      
      }




















    /* box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      } */
      
      .box select {
        
        background: linear-gradient(to bottom right, #0a20b5d9, #5490d17d);
        color: white;
        padding: 8px 12px;
        width: 226px;
        border: none;
        font-size: 14px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
        -webkit-appearance: button;
        appearance: button;
        outline: none;
        border-radius: 5px;
      }
      select option:hover {
        background-color: rgb(180, 176, 248);
        box-shadow: 0 0 10px 100px #1882A8 inset;
    }
      

      .box select option {
        padding: 30px;
        background-color: rgb(91, 81, 235);
        /* background: linear-gradient(to bottom right, #0a20b5d9, #5490d17d); */
      }


      .button-62 ,.btnLogin{
        margin-top: 50px;
        background: linear-gradient(to bottom right, #0a20b5d9, #5490d17d);
        /* background: linear-gradient(to bottom right, #EF4765, #FF9A5A); */
        border: 0;
        border-radius: 4px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 2.5;
        outline: transparent;
        padding: 0 1rem;
        text-align: center;
        text-decoration: none;
        transition: box-shadow .2s ease-in-out;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        transition: 0.3s;
      }
      .button-62 a{
        color: white;
        text-decoration: none;
      }
      .button-62:hover{
        font-size: 18px;
      }
      
      .button-62:not([disabled]):focus {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(38, 0, 255, 0.5), .125rem .125rem 1rem #5490d17d;
      }
      
      .button-62:not([disabled]):hover {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(49, 2, 255, 0.5), .125rem .125rem 1rem #5490d17d;
      }



























       





























      .teacherCont{
        /* height: 100vh;
        top: -100px; 
        position: relative;
        display: flex;
        flex-direction: row;
        margin-left: 12%;
        background-color: #fefefe; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .teacherCont .left,
    .teacherCont .right{
        width: 50%;
        margin-top: 35px;
    }
    .teacherContainer {
       color: rgba(0, 0, 0, 0.6);
        /* font-family: "Roboto", sans-serif; */
        font-size: 14px;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        top: 13%;
        /* transform: translate(-20%, 6%); */
    }
    .overlay, .form-panel.one:before {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
    }
    .form {
        z-index: 15;
        position: relative;
        background: #fff;
        width: 400px;
        border-radius: 4px;
        box-shadow: 0 0 30px rgba(0, 0, 0, .1);
        box-sizing: border-box;
        margin: 0 auto 10px;
        overflow: hidden;
    }
    .form-toggle {
        z-index: 10;
        position: absolute;
        top: 60px;
        right: 60px;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        transform-origin: center;
        transform: translate(0, -25%) scale(0);
        opacity: 0;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .form-toggle:before, .form-toggle:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 4px;
        background: #4285f4;
        transform: translate(-50%, -50%);
    }
    .form-toggle:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .form-toggle:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .form-toggle.visible {
        transform: translate(0, -25%) scale(1);
        opacity: 1;
    }
    .form-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 10px;
    }
    .form-group:last-child {
        margin: 0;
    }
    .form-group label {
        display: block;
        margin: 0 0 10px;
        color: rgb(0 0 0 / 58%);
        font-size: 13px;
        font-weight: 500;
        line-height: 0.5;
        
    }
    .two .form-group label {
        color: #fff;
    }
    .form-group textarea{
        outline: none;
        display: block;
        background: rgba(0, 0, 0, 0.1);
        width: 100%;
        border: 0;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 12px 20px;
        color: rgba(0, 0, 0, 0.6);
        /* font-family: inherit; */
        font-size: 10px;
        font-weight: 500;
        line-height: inherit;
        transition: 0.3s ease;
    }
    .form-group input
     {
        outline: none;
        display: block;
        background: rgba(0, 0, 0, 0.1);
        width: 100%;
        border: 0;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 12px 20px;
        color: rgba(0, 0, 0, 0.6);
        /* font-family: inherit; */
        font-size: 10px;
        font-weight: 500;
        line-height: inherit;
        transition: 0.3s ease;
    }
    .form-group input:focus {
        color: rgba(0, 0, 0, 0.8);
    }
    .two .form-group input {
        color: #fff;
    }
    .two .form-group input:focus {
        color: #fff;
    }
    .form-group button {
        outline: none;
        background: #4285f4;
        width: 100%;
        border: 0;
        border-radius: 4px;
        padding: 12px 20px;
        color: #fff;
        /* font-family: inherit; */
        font-size: 13px;
        font-weight: 500;
        line-height: inherit;
        text-transform: uppercase;
        cursor: pointer;
    }
.form-group button:active{
    font-weight: 600;
    font-size: 18px;

}

    .two .form-group button {
        background: #fff;
        color: #4285f4;
    }
    .form-group .form-remember {
        font-size: 12px;
        font-weight: 400;

        text-transform: none;
    }
    .form-group .form-remember input[type='checkbox'] {
        display: inline-block;
        width: auto;
        margin: 0 10px 0 0;
    }
    .form-group .form-recovery {
        color: #4285f4;
        font-size: 12px;
        text-decoration: none;
    }
    .form-panel {
        padding: 21px calc(3% + 41px) 21px 44px;
        box-sizing: border-box;
    }
    .form-panel.one:before {
        content: '';
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
    }
    .form-panel.one.hidden:before {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    .form-panel.two {
        z-index: 5;
        position: absolute;
        top: 0;
        left: 95%;
        background: #4285f4;
        width: 100%;
        min-height: 100%;
        padding: 60px calc(10% + 60px) 60px 60px;
        transition: 0.3s ease;
        cursor: pointer;
    }
    .form-panel.two:before, .form-panel.two:after {
        content: '';
        display: block;
        position: absolute;
        top: 60px;
        left: 1.5%;
        background: rgba(255, 255, 255, 0.2);
        height: 30px;
        width: 2px;
        transition: 0.3s ease;
    }
    .form-panel.two:after {
        left: 3%;
    }
    .form-panel.two:hover {
        left: 93%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .form-panel.two:hover:before, .form-panel.two:hover:after {
        opacity: 0;
    }
    .form-panel.two.active {
        left: 10%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        cursor: default;
    }
    .form-panel.two.active:before, .form-panel.two.active:after {
        opacity: 0;
    }
    .form-header {
        margin: 0 0 20px;
    }
    .form-header h1 {
        padding: 4px 0;
        color: #4285f4;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .two .form-header h1 {
        position: relative;
        z-index: 40;
        color: #fff;
    }

    .cp-fab {
        background: #fff !important;
        color: #4285f4 !important;
    }
    
    .teacherContainertwo{
      background-image: url('../img/teacher.png');
      background-repeat: no-repeat;
      background-size: contain;
      width: 40%;
      top: 27%;
      position: relative;
      transform: translateX(-90px);
    }

    .containerBg{
        width: -webkit-fill-available;
        background-image: url('../img/output-onlinepngtools\ \(6\).png');
    }


   .teacherCont button:disabled,
    .teacherCont button[disabled]{
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
      cursor: auto;
    }










.teacherInputContainer{
    background: linear-gradient(45deg,rgb(219, 218, 218),white);
}








.forAll .form-group{
    margin: 6px 27px 22px;
}
.forAll .floating-btn{
    background: #006db5c7;
    width: 140px;
    height: 43px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    border: none;
    position: absolute;
    margin: auto;
    transition: 0.4s;
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3) inset;
    margin: auto;
    right: 30%;
    bottom: -16%;
    cursor: pointer;
}
.forAll .floating-btn:hover{
    box-shadow: 2px 1px 20px 4px rgba(0, 0, 0, 0.3);
}


form .form-group .popup__close{
    bottom: 26%;
    top: 0;
}
.forAll .form-group .form-control:focus,
.forAll .form-group .form-control:valid{
    outline: none;
    color: #3F51B5;
    box-shadow: 0 1px #3F51B5;
    
}




 .containerAll {
	
	
	 width: 100vw;
	 height: 100vh;
}
 .containerAll .button {
    cursor: pointer;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 4px;
    background-color: #fff;
    padding: 5px 12px;
    position: absolute;
    margin: 20px;
    border: 1px solid #0000ff8f;
    transition: 0.3s;
    color: #333
}
.containerAll .button:hover{
    background-color: #0086D0;
    color: white;
}

 /* .popup-inner {
	 position: relative;
	 bottom: -100vw;
	 right: -100vh;
	 display: flex;
	 align-items: center;
	 max-width: 800px;
	 max-height: 600px;
	 width: 60%;
	 height: 80%;
     background: linear-gradient(49deg, white, #c0d9ff);
     border-radius: 5px;
	 transform: rotate(32deg);
	 transition: 0.64s ease-in-out;
} */
 
 
 .popup__text {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
     width: -webkit-fill-available;
     height: -webkit-fill-available;
	 padding: 2rem;
}
 .popup__text h2 {
    color: #015fb1;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
}
/* 
 .popup:target {
	 visibility: visible;
	 opacity: 1;
}
 .popup:target .popup-inner {
	 bottom: 0;
	 right: 0;
	 transform: rotate(0);
} */
 .popup__close {
	 position: absolute;
	 right: -1rem;
	 top: -1rem;
	 width: 3rem;
	 height: 3rem;
	 font-size: 0.875rem !important;
	 font-weight: 300;
	 border-radius: 100%;
	 background-color: #0a0a0a;
	 z-index: 4;
	 color: #fff;
	 line-height: 3rem;
	 text-align: center;
	 cursor: pointer;
	 text-decoration: none;
}
 
.forAll{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    transform: translateY(15%);
}
.forAll .popup__text h2{
    text-align: center;
    color: #ff1740;
}
.forAll .form-group{
    padding: 8px 0
}























    .sec-1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: -webkit-fill-available;
    }
    
    
      
      .left img{
       
        width: 400px;
        border-radius: 20%;
        transition: 0.5s;
        animation: up-and-down 2s linear infinite;
        position: relative;
      }
      
      
      @keyframes up-and-down{
        0%, 100% {
          top: 0;
      }
      
      50% {
          top: -20px;
      }
      }



      @media (max-width:870px){
        .left{
            display: none;
        }
        .right{
            width: max-content !important;
        }
      }
      .popup-container{
        position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, 0.5);
      }
      .popup{
        position: absolute;
left: 30%;
right: 30%;
bottom: 30%;
top: 30%;
text-align: center;
margin: auto;
border-radius: 15px;
border-color: black;
background: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
height: 400px;
    width: 430px;
      }